html {
    height: 100%;
}

body {
    background-image: linear-gradient( 135deg, #2298DE 10%, #00A500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 5vw;
    margin: 0px;
}

body > div {
    border: 1vw dashed white;
    padding: 2vw;
}

body.hover > div {
    text-shadow: 5px 5px 10px black;
    pointer-events: none; /* required for dragleave */
}