html {
    height: 100%;
}

body {
    background-image: linear-gradient( 135deg, #2298DE 10%, #00A500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0px;
}

body .drop-here {
    border: 1vw dashed white;
    padding: 2vw;
    color: white;
    font-size: 4vw;
    text-align: center;
}

body.hover .drop-here {
    text-shadow: 5px 5px 10px black;
}

body.hover * {
    /* required for dragleave */
    pointer-events: none;
}

body .status {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

body .status button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: 1px solid #DDD;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    line-height: 26px;
    font-weight: bold;
    font-size: 14px;
    color: #1E2235;
}

body .status button .imported {
    font-weight: normal;
}

body .status button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}